.auth-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width:inherit;
  height: 100vh;
  
}

.index{
  background: url('../images/index.png') center /contain  no-repeat;
}

.login{
  background: url('../images/login.png') center /contain  no-repeat;
}

.signup{
  background: url('../images/signup.png') center /contain  no-repeat;
}

.index-card{
  margin: 0 auto;
  padding: 2rem !important;
}

.lead{
   font-size: 1.5rem;
}
h1 {
  font-size: 2rem;
  margin-top: 0;
  color: green;
}

.del{
  margin-left: 1rem;
  color: red;
}

::placeholder{
  color: rgb(24, 219, 24);
}
.completed {
  text-decoration: line-through;
  color: gray;
}
.not {
  text-decoration: underline;
}

.container {
  margin-top: 0;
  width: 100%;
}
.budget,
.expenses {
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
}

.bold{
  font-weight: 700;
}

#updateExpenseDialog, #updateBudgetDialog{
  background: rgb(236, 255, 198);
  border: solid darkgreen;
}

input:focus{
  border-bottom: solid 1px green !important;
  box-shadow: 0 1px 0 0 darkgreen !important;
} 

label.active{
  color: green !important;
}
.negativeFunds{
  color: red;
}